html, body{
    width: 100%;
    height: 100%; 
}


*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	width: 100%;
	height: 100px;
	left: 0px;
	top: 0px;
	background: #7dc4e6;
}


body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.main {
	padding: 10pxs;	
	display: flex;
	flex-direction: column;
	align-items: center;
	/* position: absolute; */
	width: 100%;
	
	/* left: 0px; */
	/* top: 94px; */
	background: #ffffff;
}

.panorama {	
	background-color: #cecece;
	height: 600px;
    margin-bottom: 50px;
}
.example-img {
    width: 100%;
}

.descr{
	font-size: 24px;
	height: 159px;	
	line-height: 28px;
}

.sections{
	width: 100%;
	background: #aaaaaa;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.subsection{
	background: #6FF07C;
	display: flex;
	flex-direction: column;
	width: 250px;
}

.subsection_img{
	background: #797979;
	border-radius: 100px;
}

.subsection_title{
	padding: 30px 43px;
	font-size: 18px;
	line-height: 20px;
	align-items: center;
	text-align: center;
	/* height: 58px; */
	background: #D5D5D5;
}

.subsection_descr{
	padding: 5px;
	font-size: 14px;
	line-height: 21px;
	background: #B4B3B3;
}






.rows {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flexbox
}

.row_1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    margin-bottom: 30px;
}

.block_1 {	
	background-color: #6b6b6b;
	height: 200px;
	width: 200px;
    border-radius: 100px;
	left: 50px;
    top: 0;
	z-index: 0;
    position: relative
}
.block_2 {	
	background-color: #6b6b6b;
    height: 200px;
	width: 200px;
    border-radius: 100px;
	left: 600px;
    top: 0;
	z-index: 0;
    position: relative
}

.row_2 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    margin-bottom: 30px;
}
.block_3 {	
	background-color: #6b6b6b;
    height: 200px;
	width: 200px;
    border-radius: 100px;
	left: 50px;
    top: 300;
	z-index: 0;
    position: relative
}
.block_4 {	
	background-color: #6b6b6b;
    height: 200px;
	width: 200px;
    border-radius: 100px;
	left: 600px;
    top: 300;
	z-index: 0;
    position: relative
}


.footer{
	font-size: 10px;
	line-height: 10px;
}
.footer_sections{
	width: 100%;
	background: #bbbbbb;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}







